<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/styles/reset.css">
    <link rel="stylesheet" href="lib/styles/main.min.css">
    <title>Todo List App with Angular</title>
  </head>
  <body class="ng-cloak" ng-app="todoList">
    <div class="main-container" ng-controller="todoCtlr as todos">
      <h1>Todo List App</h1>

      <form name="inputForm" ng-submit="todos.addNewItem()">
        <input type="text" ng-model="todos.text">
        <button type="submit">Do It!</button>
      </form>

      <ul>
        <li ng-click="editing = true" ng-repeat="todo in todos.list">
          <input type="checkbox"
                name="check"
                ng-model="todo.completed">
          <input ng-show="editing"
                ng-change="updateItem()"
                ng-model="todo.text"
                ng-blur="editing = false"
                id="edit-input"
                type="text">
          <p ng-hide="editing">{{todo.text}}</p>
          <a ng-show="editing" ng-click="this.updateItem()" href="" id="save">&#x2714;</a>
          <a ng-hide="editing" href="" id="delete">&#x2715;</a>
        </li>
      </ul>

      <div class="bottom-container">
        <a href="">(Number) items left</a>
        <div class="filters">
          <a href="#">All</a>
          <a href="#">Active</a>
          <a href="#">Completed</a>
        </div>
        <a href="#">Clear Completed</a>
      </div>
    </div>

  </body>
  <script src="src/js/vendor/jquery-3.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="node_modules//angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="src/js/app.js"></script>
  <script src="src/js/controllers/todos.controller.js"></script>
  <script src="src/js/services/todos.service.js"></script>
</html>
