<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='lib/styles/bundle.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <title>Todo List App with Angular</title>
  </head>
  <body class="ng-cloak" ng-app="todoList" ng-controller="todoCtlr as todos">

    <div class="homepage-hero-module">
      <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
          <source src="video/In-And-Out/MP4/In-And-Out.mp4" type="video/mp4" />
          <source src="video/In-And-Out/WEBM/In-And-Out.webm" type="video/webm" />
        </video>
      </div>
    </div>

    <div class="main-container">
      <div class="todos-container">
        <h1>Todo List</h1>
        <form name="inputForm" ng-submit="todos.addNewItem()">
          <input type="text" ng-model="todos.text" placeholder="What needs to be done?">
          <button id="submit-button" type="submit">Add</button>
        </form>

        <ul>
          <li ng-repeat="todo in todos.filterList() track by $index">
            <button class="check-button" ng-click="todo.completed = !todo.completed" ng-class="{'checked': todo.completed }"></button>
            <p type="text"
              inline-edit-callback="todos.updateItem()"
              inline-edit="todo.text"
              inline-edit-on-blur="save"
              inline-edit-btn-edit=""
              inline-edit-on-click></p>
            <a ng-click="todos.deleteItem($index);" ng-hide="todos.editing" href="" id="delete">&#x2715;</a>
          </li>
        </ul>

        <div class="bottom-container">
          <a href="" id="numLeft">{{(todos.list | filter: {completed:false}).length }} items left</a>
          <div class="filters">
            <a ng-click="todos.filterBy='all'" href="#">All</a>
            <a ng-click="todos.filterBy='active'" href="#">Active</a>
            <a ng-click="todos.filterBy='inactive'" href="#">Completed</a>
          </div>
          <a ng-click="todos.clearCompleted()" id="clear" href="#">Clear Completed</a>
        </div>
      </div>
    </div>

    <script src="lib/js/bundle.js"></script>
  </body>
</html>
