h1 {
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: rgba(0, 25, 29, .85);
}
p {
  margin-right: auto;
}

#numLeft {
  cursor: default;
}
a {
  cursor: crosshair;
  color: white;
  text-decoration: none;
}

.filters {
  a {
    transition: all 1s ease;
    padding: 5px;
    &:hover {
      border: 1px solid white;
      transform: scale(1.5);
    }
  }
}
