@import "partials/font";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: auto;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    input {
      height: 100%;
      flex-grow: 2;
      outline: none;
    }
    button {
      height: 100%;
      flex-grow: 1;
    }
  }
}


ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  p.ng-isolate-scope {
    flex-grow: 1;
    height: 100%;
    div {
      height: 100%;
      display: flex;
      align-items: center;
      input {
        height: 100%;
        width: 100%;
      }
    }
  }
  li {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    background: #d9d7df;
    padding: 0 5px;
  }
  li:hover #delete {
    visibility: visible;
  }
  #delete {
    visibility: hidden;
    color: red;
    text-decoration: none;
  }
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
