@import "partials/font";
@import "partials/video";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.main-container {
  background: linear-gradient(to bottom, rgba(110,132,138,0.27) 0%, rgba(4,65,82,0.47) 21%, rgb(3,21,36) 77%);
  bottom: 0;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 4;
}

.todos-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 15vw;
  margin: auto;
  position: absolute;
  top: 10vh;
  width: 70vw;
  box-shadow: -5px 2px 78px -2px rgba(0,0,0,0.85);
  form {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
    input {
      border-style: none;
      flex-grow: 2;
      font-size: 20px;
      height: 100%;
      outline: none;
      padding-left: 20px;
    }
    button {
      border-style: none;
      flex-grow: 1;
      font-size: 20px;
      height: 100%;
      background: rgb(207, 50, 0);
      opacity: 0.95;
      color: white;
      &:hover {
        background: rgb(123, 7, 0);
      }
    }
  }
}


ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  p.ng-isolate-scope {
    flex-grow: 1;
    height: 100%;
    div {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      color: rgb(230, 230, 230);
      input {
        height: 100%;
        width: 100%;
        font-size: 17px;
      }
    }
  }
  li {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    padding: 0 5px;
    button {
      background: none;
      border: 2px solid white;
      border-radius: 50%;
      cursor: crosshair;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      outline: none;
      &.checked {
        background-image: url('../../../images/checked.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: 3px 2px;
      }
    }
  }
  li:hover #delete {
    visibility: visible;
  }
  #delete {
    visibility: hidden;
    color: rgba(223, 148, 131, 0.85);
    font-size: 30px;
    text-decoration: none;
    padding-left: 20px;
  }
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
  #clear {
    padding: 5px;
    &:hover {
      border: 1px solid white;
    }
  }
}
